[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
datetime = "*"
sklearn = "*"
joblib = "*"

[requires]
python_version = "3.7"
